<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/assets/styles/normalize.css" />
    <link rel="stylesheet" href="/src/assets/styles/bootstrap.css" />
    <link rel="bootstrap-css" href="/src/assets/styles/bootstrap.rtl.css" />
    <link
      rel="stylesheet"
      href="/src/assets/components/About-us/About-us.css"
    />
    <link
      rel="stylesheet"
      href="/src/assets/fontawesome-free/css/fontawesome.css"
    />
    <link rel="stylesheet" href="/src/assets/fontawesome-free/css/solid.css" />
    <title>درباره ما</title>
  </head>
  <body>
    <main class="body-color container-fluid">
      <!-- درباره دنا -->
      <div class="text-centered pt-5">
        <header class="header-container text-centered">
          <h1 class="heading-container">درباره دنا تریپ</h1>
        </header>
      </div>
      <!-- چرا دنا -->
      <section
        class="mt-sm-4 pt-5 me-sm-5 row pe-5 ps-5 justify-content-center"
      >
        <div class="circle text-center pt-1 col-1">
          <h2 class="text-circle mt-5">چرا دناتریپ؟</h2>
        </div>
        <div class="container-base col-4 me-5 ms-5">
          <p class="pt-4">
            در سال 1997 بود که مایکروسافت اینترنت اکسپلورر 4 را همراه ویندوز خود
            وارد بازار کرد. اما دادگستری آمریکا به خاطر دلایلی اجازه انتشار
            ویندوز و اینترنت اکسپلورر را با هم نداد. در سال 1998 ویندوز 98 به
            همراه اکسپلورر SP4/0 SP1 و FAT32 به عنوان فایل سیستم عرضه گشت. در
            سال 1997 بود که مایکروسافت اینترنت اکسپلورر 4 را همراه ویندوز خود
            وارد بازار کرد. اما دادگستری آمریکا به خاطر دلایلی اجازه انتشار
            ویندوز و اینترنت اکسپلورر را با هم نداد. در سال 1998 ویندوز 98 به
            همراه اکسپلورر SP4/0 SP1 و FAT32 به عنوان فایل سیستم عرضه گشت. در
            سال 1997 بود که مایکروسافت اینترنت اکسپلورر 4 را همراه ویندوز خود
            وارد بازار کرد. اما دادگستری آمریکا به خاطر دلایلی اجازه انتشار
            ویندوز و اینترنت اکسپلورر را با هم نداد. در سال 1998 ویندوز 98 به
            همراه اکسپلورر SP4/0 SP1 و FAT32 به عنوان فایل سیستم عرضه گشت. در
            سال 1997 بود که مایکروسافت اینترنت اکسپلورر 4 را همراه ویندوز خود
            وارد بازار کرد. اما دادگستری آمریکا به خاطر دلایلی اجازه انتشار
            ویندوز و اینترنت اکسپلورر را با هم نداد. در سال 1998 ویندوز 98 به
            همراه اکسپلورر SP4/0 SP1 و FAT32 به عنوان فایل سیستم عرضه گشت. در
            سال 1997 بود که مایکروسافت اینترنت اکسپلورر 4 را همراه ویندوز خود
            وارد بازار کرد. اما دادگستری آمریکا به خاطر دلایلی اجازه انتشار
            ویندوز و اینترنت اکسپلورر را با هم نداد. در سال 1998 ویندوز 98 به
            همراه اکسپلورر SP4/0 SP1 و FAT32 به عنوان فایل سیستم عرضه گشت.
          </p>
        </div>
      </section>
      <!--Our ___ Team-->
      <section class="g-0 m-0 text-center">
        <span class="circle col-1 text-center text-circle pt-5">تیم ما</span>
        <div class="justify-content-around row m-0 g-0">
          <span class="circle text-center text-circle pt-5"></span>
          <span class="circle text-center text-circle pt-5"></span>
        </div>
        <span class="circle col-1 text-center text-circle pt-5"></span>
      </section>
    </main>
  </body>
</html>
