/*Fonts*/
@font-face {
  font-family: Peyda-light;
  src: url(/src/assets/fonts/Peyda-light.ttf);
}
@font-face {
  font-family: Peyda-Thin;
  src: url(/src/assets/fonts/Peyda-Thin.ttf);
}
@font-face {
  font-family: Peyda-Regular;
  src: url(/src/assets/fonts/Peyda-Regular.ttf);
}
@font-face {
  font-family: Peyda-ExtraBold;
  src: url(/src/assets/fonts/Peyda-ExtraBold.ttf);
}
@font-face {
  font-family: Peyda-Bold;
  src: url(/src/assets/fonts/Peyda-Bold.ttf);
}
@font-face {
  font-family: Peyda-Medium;
  src: url(/src/assets/fonts/Peyda-Medium.ttf);
}
/*-------------Conponents-------------*/
/*Body Background*/
div:empty {
  background: linear-gradient(
    90deg,
    rgba(216, 251, 238, 1) 0%,
    rgba(9, 121, 49, 0) 50%,
    rgba(38, 139, 75, 0) 50%,
    rgb(211, 236, 227) 100%
  );
  height: 500px;
}
.body-color {
  background: linear-gradient(
    90deg,
    rgb(155, 211, 190) 0%,
    rgba(9, 121, 48, 0) 50%,
    rgba(38, 139, 75, 0) 50%,
    rgb(151, 207, 187) 100%
  );
  height: 100%;
}
.container-base {
  background: #fff;
  border-radius: 40px;
  width: 795px;
  height: 100%;
}
.header-container {
  background: #fff;
  border-radius: 40px;
  width: 795px;
  height: 350px;
}
.heading-container {
  border: 1px solid #7a988d;
  background: #7af2c5;
  border-radius: 20px;
  text-align: center;
  font-family: "Peyda-Medium";
  font-size: larger;
  padding: 10px 0 10px 0 !important;
  width: 141.094px;
  height: 43.59px;
  margin-top: 5px;
}
.text-centered {
  display: flex;
  justify-content: space-around;
}
.circle {
  height: 140px;
  width: 140px;
  background: linear-gradient(
    0deg,
    rgba(92, 158, 156, 1) 44%,
    rgba(194, 177, 131, 1) 95%
  );
  margin-top: 105px;
  border-radius: 50%;
  display: inline-block;
}
.text-circle {
  font-size: 1.45rem;
  font-family: "Peyda-Medium";
  color: #000;
}
.img--end-section {
  width: 90%;
  position: absolute;
}
